# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [106]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
import time
from ratelimit import limits, sleep_and_retry

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [90]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []
lat = []
lng = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=100) #change back to 1500
lngs = np.random.uniform(lng_range[0], lng_range[1], size=100) #change back to 1500
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)
cities_df = pd.DataFrame({'cities':cities})
# Print the city count to confirm sufficient count
print(len(cities))
cities_df.head()

79

            cities
0         novoorsk
1         cherskiy
2        kununurra
3        busselton
4  banska bystrica

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [91]:
# Save config information
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "imperial" #Fahrenheit

# Build partial query URL
query_url = f"{url}appid={weather_api_key}&units={units}&q="

# set up lists to hold reponse info
lat = []
lng = []
temp_max = []
humidity = []
cloudiness = []
wind_speed = []
date = []

In [107]:
for i in range(len(cities_df)):
    try:
        index = i
        response = requests.get(query_url + cities_df.iloc[i,0]).json()
        lat.append(response['coord']['lat'])
        lng.append(response['coord']['lon'])
        temp_max.append(response['main']['temp_max'])
        time.sleep(1)
        
        print(f"Processing Record {index} for city = {cities_df.iloc[i,0]}")
    except:
        print("City not found...skipping record")
        pass

Processing Record 0 for city = novoorsk
Processing Record 1 for city = cherskiy
Processing Record 2 for city = kununurra
Processing Record 3 for city = busselton
Processing Record 4 for city = banska bystrica
Processing Record 5 for city = rikitea
Processing Record 6 for city = tocopilla
Processing Record 7 for city = guerrero negro
Processing Record 8 for city = mahebourg
Processing Record 9 for city = barrow
Processing Record 10 for city = ribeira grande
Processing Record 11 for city = biskamzha
City not found...skipping record
Processing Record 13 for city = provideniya
Processing Record 14 for city = te anau
Processing Record 15 for city = albany
Processing Record 16 for city = ushuaia
Processing Record 17 for city = la asuncion
City not found...skipping record
Processing Record 19 for city = hailey
Processing Record 20 for city = kodiak
Processing Record 21 for city = atbasar
Processing Record 22 for city = east london
Processing Record 23 for city = yellowknife
Processing Record 24 for city = kangaatsiaq
Processing Record 25 for city = katobu
Processing Record 26 for city = new norfolk
Processing Record 27 for city = qaanaaq
City not found...skipping record
Processing Record 29 for city = aberystwyth
Processing Record 30 for city = cayenne
Processing Record 31 for city = thompson
Processing Record 32 for city = kamenka
Processing Record 33 for city = saint-philippe
Processing Record 34 for city = mataura
Processing Record 35 for city = lufilufi
Processing Record 36 for city = ruwi
Processing Record 37 for city = taoudenni
Processing Record 38 for city = tuktoyaktuk
Processing Record 39 for city = viedma
Processing Record 40 for city = carnarvon
Processing Record 41 for city = atuona
Processing Record 42 for city = seydi
Processing Record 43 for city = henties bay
Processing Record 44 for city = okato
Processing Record 45 for city = tasiilaq
Processing Record 46 for city = sitka
Processing Record 47 for city = olafsvik
Processing Record 48 for city = faanui
Processing Record 49 for city = punta arenas
Processing Record 50 for city = vao
Processing Record 51 for city = klaksvik
City not found...skipping record
Processing Record 53 for city = lavrentiya
Processing Record 54 for city = saint george
Processing Record 55 for city = codrington
Processing Record 56 for city = quzhou
Processing Record 57 for city = hermanus
Processing Record 58 for city = ilheus
Processing Record 59 for city = isangel
Processing Record 60 for city = hobart
Processing Record 61 for city = clyde river
Processing Record 62 for city = tepla
Processing Record 63 for city = kitgum
Processing Record 64 for city = tamiahua
Processing Record 65 for city = merauke
Processing Record 66 for city = patterson
Processing Record 67 for city = hattiesburg
Processing Record 68 for city = emerald
Processing Record 69 for city = curitibanos
Processing Record 70 for city = talnakh
Processing Record 71 for city = nouadhibou
Processing Record 72 for city = kahului
Processing Record 73 for city = husavik
Processing Record 74 for city = khatanga
City not found...skipping record
Processing Record 76 for city = rawson
Processing Record 77 for city = port lincoln
Processing Record 78 for city = kavieng

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [108]:
weather_dict = {
    #"city": cities,
    "lat": lat,
    "lng": lng,
    "Max Temp": temp_max
}

weather_data = pd.DataFrame(weather_dict)
weather_data

       lat     lng  Max Temp
0    51.38   58.98      5.00
1    68.75  161.30     -1.86
2   -15.77  128.73     87.80
3   -33.65  115.33     63.00
4    48.50   19.50     50.00
..     ...     ...       ...
143  66.04  -17.34     14.00
144  71.97  102.50    -18.17
145 -43.30  -65.10     84.00
146 -34.73  135.87     58.98
147  -2.57  150.80     85.17

[148 rows x 3 columns]

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression